*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  background: white;
}

body {
  font-weight: 400;
  font-size: 1.6rem;
  font-family: sans-serif;
  height: 100vw;
}

.nav {
  display: flex;
  align-items: center;
  background: white;
  width: 100%;
  padding-left: 2.4rem;
  padding-right: 2.4rem;
  height: 7.2rem;
  position: relative;
  z-index: 1010;
  list-style: none;
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
}
.nav__logo {
  flex-shrink: 0;
  padding-right: 0.8rem;
  align-items: center;
  display: flex;
}
.nav__wrapper {
  position: relative;
  color: #1c1d1f;
}
.nav__button {
  height: 4.8rem;
  position: relative;
  align-items: center;
  border: none;
  cursor: pointer;
  display: inline-flex;
  min-width: 8rem;
  padding: 0 1.2rem;
  justify-content: center;
  background: white;
  text-decoration: none;
  color: #1c1d1f;
}
.nav__searchWrapper {
  max-width: none;
  flex-grow: 1;
  border: 0.1rem solid #1c1d1f;
  border-radius: 5rem;
  margin: 0 1.2rem;
  min-width: 18rem;
}
.nav__buttonWrapper {
  margin-left: 0.8rem;
}

.magnifying-glassContainer {
  display: none;
}

.logo {
  max-width: 100%;
  height: auto;
}

.placeholder {
  display: flex;
  align-items: center;
  margin: 0;
  padding-bottom: 0.8rem;
  min-height: 2.8rem;
  position: absolute;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

.input {
  background-color: transparent;
  border: 0;
  height: 3.4rem;
  display: block;
  padding: 2.2rem;
  width: 100%;
  outline: none;
}

.cart {
  padding: 1.5rem;
  cursor: pointer;
}

.button {
  height: 4rem;
  align-items: center;
  cursor: pointer;
  min-width: 8rem;
  padding: 0 1.2rem;
  justify-content: center;
  font-weight: 800;
  border: 0.1rem solid #1c1d1f;
  background: white;
  color: #1c1d1f;
}
.button__black {
  color: #fff;
  background: #1c1d1f;
}

.button__language {
  min-width: auto;
}

.header {
  display: block;
  margin: 0 auto;
  margin-bottom: 0px;
  position: relative;
  width: 100%;
  margin-bottom: 2.4rem;
  max-width: 134rem;
  padding-bottom: 2rem;
}
.header__img {
  object-fit: cover;
}

.header__article {
  position: absolute;
  box-shadow: 0 0.2rem 0.4rem rgba(0, 0, 0, 0.08), 0 0.4rem 1.2rem rgba(0, 0, 0, 0.08);
  padding: 2.4rem;
  left: 7.2rem;
  top: 6.4rem;
  max-width: 44rem;
  display: flex;
  flex-direction: column;
  background: #fff;
  width: 100vw;
}

.header__article > h1 {
  font-family: SuisseWorks, Georgia, Times, times new roman, serif, apple color emoji, segoe ui emoji, segoe ui symbol;
  font-weight: 700;
  font-size: 3.2rem;
  line-height: 1.25;
  letter-spacing: -0.05rem;
  margin-bottom: 0.8rem;
}

.header__article > p {
  padding-top: 1rem;
  font-size: 1.6rem;
  line-height: 2.2rem;
}

.header__articleSmall {
  display: none;
}

.section__one {
  max-width: 134rem;
  margin-right: auto;
  margin-left: auto;
  padding-right: 2.4rem;
  padding-left: 2.4rem;
}

.gamesWrapper {
  margin: 0;
  max-width: 100%;
}
.gamesWrapper__h2 {
  max-width: 80rem;
  font-family: SuisseWorks, Georgia, Times, times new roman, serif, apple color emoji, segoe ui emoji, segoe ui symbol;
  font-weight: 700;
  font-size: 3.2rem;
  line-height: 1.25;
  letter-spacing: -0.05rem;
}
.gamesWrapper__p {
  margin: 1.6rem 0 0;
  max-width: 80rem;
  font-size: 1.8rem;
  line-height: 1.25;
  padding-bottom: 2rem;
}

.gamesWrapper__two {
  display: flex;
  align-items: center;
  list-style: none;
}

.gamesWrapper__h4 {
  padding-right: 2rem;
  color: gray;
  padding-bottom: 2rem;
  cursor: pointer;
}

#games {
  color: #1c1d1f;
}

.gamesContainer {
  border: 0.1rem solid #1c1d1f;
  padding: 3.2rem;
}
.gamesContainer__banner {
  display: block;
  margin-bottom: 3.2rem;
}
.gamesContainer__h2 {
  margin-bottom: 0.9rem;
  max-width: 80rem;
}
.gamesContainer__p {
  margin-bottom: 1.6rem;
  max-width: 80rem;
  font-size: 1.6rem;
}
.gamesContainer__button {
  background-color: transparent;
}

.container__games {
  flex-direction: column;
  max-width: 25.5rem;
  min-width: 17.3rem;
  display: flex;
  align-items: flex-start;
  position: relative;
  cursor: pointer;
}

.games__imgWrapper {
  padding-bottom: 1rem;
  max-width: 100%;
}

.games__img {
  width: 100%;
  height: 13rem;
  border: 0.01rem solid #1c1d1f;
  object-fit: cover;
}

.games__h3 {
  font-size: 1.59rem;
  margin-bottom: 0.4rem;
}

.games__p {
  font-size: 1.2rem;
  margin-bottom: 0.4rem;
  color: gray;
}

.stars {
  font-size: 1.4rem;
  display: flex;
}
.stars__rating {
  margin-right: 0.4rem;
  color: #b4690e;
  font-weight: 900;
}
.stars__ratingReviews {
  color: gray;
  font-size: 1.3rem;
  margin-left: 0.3rem;
}
.stars__wrapper {
  padding: 0.1rem;
  font-size: 1.3rem;
  display: flex;
  align-items: center;
  list-style: none;
}

.checked {
  color: orange;
  font-size: 1.2rem;
}

.fa-star-half-stroke {
  color: orange;
  font-size: 1.2rem;
}

.fa-star-sharp {
  color: orange;
}

.prices {
  margin-top: 0.6rem;
  display: flex;
  align-items: center;
}
.prices__price {
  padding-right: 0.5rem;
  font-weight: 900;
}
.prices__discount {
  color: gray;
  text-decoration: line-through;
}

.container__gamesWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 2.5rem;
}

.bar {
  background: #f7f9fa;
  margin-top: 6.5rem;
  padding: 2rem;
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  height: 5rem;
}

.games__othersWrapper {
  margin-top: 6rem;
  margin-bottom: 9rem;
}

.container__sectiontwo {
  background: #f7f9fa;
  margin-top: 6.4rem;
  margin-bottom: 4.5em;
}

.section__two {
  width: 100%;
  max-width: 134rem;
  margin-right: auto;
  margin-left: auto;
  padding: 6.4rem 2.4rem;
  background: #f7f9fa;
}
.section__two-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 2.5rem;
}
.section__two-ul {
  list-style: none;
}
.section__two-p {
  margin-top: 0.8rem;
  color: gray;
  font-size: 1.4rem;
}
.section__two-a {
  color: #5624d0;
  font-weight: 700;
}
.section__two-li {
  margin-top: 2.4rem;
}
.section__two-h3 {
  margin-top: 2.4rem;
}

.section__three {
  padding: 7rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.section__three-container {
  flex-direction: row-reverse;
  display: flex;
  padding: 0;
}
.section__three-containerTwo {
  display: flex;
  padding: 0;
}
.section__three-img {
  margin: 0;
  display: inherit;
  max-width: 100%;
  height: auto;
  object-fit: contain;
}
.section__three-wrapper {
  margin: 0 6.6rem 0 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 40rem;
  text-align: left;
}
.section__three-wrapperTwo {
  margin: 0 0 0 6.6rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 40rem;
  text-align: left;
}
.section__three-h3 {
  font-size: 3rem;
  margin-bottom: 1.6rem;
}
.section__three-p {
  font-size: 1.6rem;
}
.section__three-ul {
  margin-bottom: 1.6rem;
  padding: 0;
  max-width: none;
}
.section__three-li {
  margin-bottom: 1.5rem;
  font-size: 2rem;
}
.section__three-button {
  margin-top: 2rem;
}
.section__three-buttonTwo {
  margin-top: 6rem;
}

.bigger {
  height: 5rem;
}

.bottom {
  padding-bottom: 18rem;
}

.footer__wrapper {
  padding-left: 4.8rem;
  padding-right: 4.8rem;
  padding-top: 2.4rem;
  background: #1c1d1f;
}

.footer__ulWrapper {
  padding: 0 0 2.4rem;
  order: 1;
  flex-shrink: 0;
  margin-left: auto;
  display: flex;
}

.footer__button {
  color: #fff;
  background: #1c1d1f;
  height: 4rem;
  border: 0.1rem solid #fff;
  cursor: pointer;
  padding: 0 2rem;
  justify-content: center;
  font-size: 1.6rem;
}

.footer__buttonWrapper {
  margin-left: auto;
}

.footer__ul {
  color: #fff;
  list-style: none;
  font-size: 1.4rem;
  flex-basis: 25.5rem;
  margin-right: 1.6rem;
}

.footer__ul > li {
  padding: 0.5rem;
}

.footer__logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3.4rem 0 3.2rem;
}

.footer__logo > h5 {
  color: white;
}

@media screen and (max-width: 60rem) {
  .nav {
    padding-left: 1.4rem;
    padding-right: 1.4rem;
  }
  .nav__buttonWrapper, .nav__searchWrapper, .nav__wrapper {
    display: none;
  }
  .magnifying-glassContainer {
    display: block;
    padding: 2rem;
    flex-grow: 1;
    display: flex;
    flex-direction: row-reverse;
  }
  .icons {
    margin-left: 1rem;
  }
  .header__img {
    width: 100%;
  }
  .header__article {
    display: none;
  }
  .header__articleSmall {
    display: block;
    padding: 2.4rem;
    padding-bottom: 0;
  }
  .container__gamesWrapper {
    flex-direction: column;
  }
  .games__img {
    width: 100%;
    height: 90%;
  }
  .container__games {
    margin-bottom: 2rem;
  }
  .section__three {
    padding: 0;
  }
  .container__sectiontwo {
    margin-bottom: 1rem;
  }
  .section__three-container {
    flex-direction: column;
  }
  .section__three-containerTwo {
    flex-direction: column;
  }
  .section__three-img {
    padding: 5rem;
    width: 100%;
    padding-bottom: 0;
  }
  .section__three-wrapper {
    padding: 5rem;
    padding-top: 2rem;
    margin-right: 0;
    padding-bottom: 2rem;
  }
  .section__three-wrapperTwo {
    padding: 5rem;
    padding-top: 2rem;
    margin-left: 0;
  }
  .section__three-button {
    display: flex;
  }
  .section__three-buttonSmall {
    margin-left: 1rem;
  }
  .section__three-buttonTwo {
    margin-top: 3rem;
  }
  .footer__button {
    display: flex;
    align-items: center;
  }
  .section__three-button {
    margin-right: 1rem;
  }
  .footer__wrapper {
    padding: 2.8rem;
  }
  .footer__logo {
    padding: 1.4rem;
  }
  .fa-globe {
    margin-right: 0.5rem;
  }
}

/*# sourceMappingURL=style.css.map */
