@media screen and (max-width: 60rem) {

    .nav{
        padding-left: 1.4rem;
        padding-right: 1.4rem;
    }

    .nav__buttonWrapper, .nav__searchWrapper, .nav__wrapper{
        display: none;
    }

    .magnifying-glassContainer{
        display: block;
        padding: 2rem;
        flex-grow: 1;
        display: flex;
        flex-direction: row-reverse;
    }

    .icons{
        margin-left: 1rem;
    }

    .header__img{
        width: 100%;
    }

    .header__article{
        display: none;
    }

    .header__articleSmall{
        display: block;
        padding: 2.4rem;
        padding-bottom: 0;
    }

    .container__gamesWrapper{
        flex-direction: column;

    }

    .games__img{
        width: 100%;
        height: 90%;
    }

    .container__games{
        margin-bottom: 2rem;
    }

    .section__three{
        padding: 0;
    }

    .container__sectiontwo{
        margin-bottom: 1rem;
    }

    .section__three-container{
        flex-direction: column;
    }

    .section__three-containerTwo{
        flex-direction: column;
    }

    .section__three-img{
        padding: 5rem;
        width: 100%;
        padding-bottom: 0;

    }

    .section__three-wrapper{
        padding: 5rem;
        padding-top: 2rem;
        margin-right: 0;
        padding-bottom: 2rem;
    }

    .section__three-wrapperTwo{
        padding: 5rem;
        padding-top: 2rem;
        margin-left: 0;

    }

    .section__three-button{
        display: flex;
    }

    .section__three-buttonSmall{
        margin-left: 1rem;
    }

    .section__three-buttonTwo{
        margin-top: 3rem;
    }

    .footer__button{
        display: flex;
        align-items: center;
    }

    .section__three-button{
        margin-right: 1rem;
    }

    .footer__wrapper{
        padding: 2.8rem;
    }

    .footer__logo{
        padding: 1.4rem;
    }

    .fa-globe{
        margin-right: 0.5rem;
    }
}