@use "../abstracts/variables" as *;

.container__sectiontwo {
    background: $gray;
    margin-top: 6.4rem;
    margin-bottom: 4.5em;
}

.section__two {
    width: 100%;
    max-width: 134rem;
    margin-right: auto;
    margin-left: auto;
    padding: 6.4rem 2.4rem;
    background: $gray;

    &-container {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-bottom: 2.5rem;
    }

    &-ul{
        list-style: none;
    }

    &-p{
        margin-top: 0.8rem;
        color: gray;
        font-size: 1.4rem;    
    }

    &-a{
        color: #5624d0;
        font-weight: 700;    
    }

    &-li{
        margin-top: 2.4rem;
    } 

    &-h3{
        margin-top: 2.4rem;
    }
}
